@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "GeistBlack";
  src: url("/assets/fonts/Geist-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistBold";
  src: url("/assets/fonts/Geist-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistRegular";
  src: url("/assets/fonts/Geist-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistLight";
  src: url("/assets/fonts/Geist-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistThin";
  src: url("/assets/fonts/Geist-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistExtraLight";
  src: url("/assets/fonts/Geist-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistMedium";
  src: url("/assets/fonts/Geist-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistSemiBold";
  src: url("/assets/fonts/Geist-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistExtraBold";
  src: url("/assets/fonts/Geist-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}
